# VSCode
cache/
.vscode/

# Data files
data/
data_for_algo_analysis/

# FCEUX files
fceux64_old/
fceux64/ROMs

# Docs
docs/
#docs_source/

# Misc. files
analysis/
#analysis_old.m
#analysis.m



.Rproj.user
